.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  padding: 30px;
  background-color: lavender;
}
.comments {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.button-1 {
  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  border: 3px solid pink;
}
.button-1:hover {
  background-color: pink;
  color: white;
}
.button-2 {
  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  border: 3px solid lightblue;
}
.button-2:hover {
  background-color: lightblue; /* Green */
  color: white;
}
.button-edit {
  width: 100px;
  height: 50px;
  background-color: white;
  color: black;
  border: 3px solid lavender;
}
.button-edit:hover {
  background-color: lavender; /* Green */
  color: white;
}
.button-delete {
  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  border: 3px solid pink;
}
.button-delete:hover {
  background-color: pink; /* Green */
  color: white;
}
.input {
  width: 30%;
}
.label {
  /* padding: 20%; */
}